// font
$fontFamily: 'Montserrat', sans-serif;
$fontRegular: 400;
$fontBold: 700;
$lineHeight: 1;
$fontSize: 14px;

// color
$headerSectionBg: #f7f7f7;
$red: #e24545;
$black: #222;
$lightBlack: #444;
$grey: #888;
$lightGrey: #eee;

// product-item
$itemHover: #f6f6f6;

// pagination
$paginationBorder: #ddd;

// features dash
$featuresDash: #ccc;

// footer
$footerBorder: #ddd;
$footerTopBg: #f6f6f6;
$footerBottomBg: #e6e6e6;
$footerTopBorder: #ccc;

// input
$inputBorder: #ccc;